<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('./partials/bootstrap-css.ejs') %>
    <style>
        input[type=text], input[type=email], input[type=number], select {
            width: 30%;
            padding: 1px 20px;
            margin: 0px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        h3 {
            margin-left: 50px;
        }
        h1, h4{
            text-align: center;
        }
        a {
            text-decoration: none;
        }
    </style>
    <title>Store</title>
</head>
<body>
    <%- include ('./partials/navbar.ejs') %>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <div class="text-center">
            </div>
        </div>
        <div class="col">
            <div class="text-center">
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                SALDO : <%= data[0].Order.Customer.money %>
            </div>
        </div>
    </div>
    <h1>Confirm Order</h1>
    <br>
    <br>
    <div>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">No</th>
                <th scope="col">Coffee</th>
                <th scope="col">Amount</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
            <% for(let i = 0; i < data.length; i++) { %>
                <tr>
                    <th scope="row"><%= i + 1 %></th>
                    <td><%= data[i].Coffee.name %></td>
                    <td><%= data[i].ammount %></td>
                    <td><%= data[i].ammount * data[i].Coffee.price %></td>
                </tr>
            <% } %>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td><%= totalHarga %></td>
            </tr>
            </tbody>
        </table>              
    </div>
    <br>
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="text-center">
            </div>
          </div>
          <div class="col">
            <div class="text-center">
            </div>
          </div>
          <div class="col">
            <div class="text-center">
                <a href="/profile/<%= data[0].Order.Customer.id %>/history" class="btn btn-info">Submit</a>
                <a href="/profile/<%= data[0].Order.id %>/delete" class="btn btn-danger">Cancel</a>
            </div>
          </div>
        </div>
    </div>
    <%- include ('./partials/bootstrap-js.ejs') %>
</body>
</html>