<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('./partials/bootstrap-css.ejs') %>
    <style>
        input[type=text], input[type=email], input[type=number], select {
            width: 30%;
            padding: 1px 20px;
            margin: 0px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        h3 {
            margin-left: 50px;
        }
        h1, h4{
            text-align: center;
        }
        a {
            text-decoration: none;
        }
        #form:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <title>Store</title>
</head>
<body>
    <%- include ('./partials/navbar.ejs') %>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <div class="text-center">
            </div>
        </div>
        <div class="col">
            <div class="text-center">
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                SALDO : <%= data[0].Order.Customer.money %>
            </div>
        </div>
    </div>
    <h1>Confirm Order</h1>
    <br>
    <form action="/user/profile/<%= data[0].Order.Customer.id %>/history" method="POST"><br>
    <div id="form" class="container">
        <% for(let i = 0; i < data.length; i++) { %>
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <label for="name"><%= data[i].Coffee.name %></label>
                        <input type="hidden" name="name" value="Coffee"><br>
                    </div>
                </div>
                <div class="col">
                    <div class="text-center">
                        <label for="ammount"><%= data[i].ammount %></label>
                        <input type="hidden" name="ammount" value="total" min="0"><br>
                    </div>
                </div>
                <div class="col">
                    <div class="text-center">
                        <label for="name"><%= data[i].ammount * data[i].Coffee.price %></label>
                        <input type="hidden" name="name" value="Coffee"><br>
                    </div>
                </div>
            </div>
        <% } %>
        <br>
        <div class="row">
            <div class="col">
                <div class="text-center">
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <%= totalHarga %> 
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="text-center">
            </div>
          </div>
          <div class="col">
            <div class="text-center">
            </div>
          </div>
          <div class="col">
            <div class="text-center">
                <a href="/profile/<%= data[0].Order.Customer.id %>/history" class="btn btn-info">Submit</a>
                <a href="/profile/<%= data[0].Order.id %>/delete" class="btn btn-danger">Cancel</a>
            </div>
          </div>
        </div>
    </div>
    <%- include ('./partials/bootstrap-js.ejs') %>
</body>
</html>