<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('./partials/bootstrap-css.ejs') %>
    <style>
        input[type=text], input[type=number], input[type=date], select {
            width: 50%;
            padding: 3px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        form {
            margin-left: 360px;
        }
        h1, h4{
            text-align: center;
        }
        a {
            text-decoration: none;
        }
    </style>
    <title>Form Add</title>
</head>
<body>
    <%- include ('./partials/navbarAdmin.ejs') %>
    <br>
    <h1>Edit Store</h1>
    <br>
    <form action="/admin/editStore/<%= store.id %>" method="post">
        <label for="name">Name Store</label><br>
        <input type="text" name="name" value="<%= store.name %>" minlength="3"><br>
        <label for="location">Location</label><br>
        <input type="text" name="location" value="<%= store.location %>" minlength="1"><br>
        <input type="submit" value="Edit" class="btn btn-info">
        <a href="/admin/listCoffee" class="btn btn-danger">Cancel</a>
    </form>
    <%- include ('./partials/bootstrap-js.ejs') %>
</body>
</html>